chardet==3.0.4
feedparser==5.2.1
Flask==1.0.2
humanize==0.5.1
idna==2.8
Jinja2==2.10
MarkupSafe==1.1.0
python-dateutil==2.7.5
requests==2.21.0
requests-cache==0.4.13
urllib3==1.24.1
Werkzeug==0.14.1
yamlordereddictloader==0.4.0
pyyaml==4.2b4
raven[flask]==6.10.0
prometheus_client==0.3.1
talisker==0.11.1

# Development dependencies
flake8
black
