@mixin vf-icon-calendar($color) {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' height='90' width='90'%3E%3Cstyle%3E.st1%7Bfill:currentColor%7D%3C/style%3E%3Cpath d='M0 962.4h90v90H0v-90z' fill='none' transform='translate%280 -962.36%29'/%3E%3Cpath class='st1' d='M35.9 968.4v9c0 4.8-4.1 8.9-8.9 8.9s-8.9-4.1-8.9-8.9v-8.5C7.6 969.9 6 973.6 6 986.4v42c0 18 3 18 30 18h18c27 0 30 0 30-18v-42c0-12.8-1.6-16.5-12.1-17.5v8.5c0 4.8-4.1 8.9-8.9 8.9s-8.9-4.1-8.9-8.9v-9H35.9zm.1 24h18c24 0 24 0 24 12v24c0 12 0 12-24 12H36c-24 0-24 0-24-12v-24c0-12 0-12 24-12z' transform='translate%280 -962.36%29'/%3E%3Cpath class='st1' d='M27 962.4c1.7 0 3 1.3 3 3v12c0 1.7-1.3 3-3 3s-3-1.3-3-3v-12c0-1.7 1.3-3 3-3zM63 962.4c1.7 0 3 1.3 3 3v12c0 1.7-1.3 3-3 3s-3-1.3-3-3v-12c0-1.7 1.3-3 3-3zM33.3 1001.4c-1.8 0-3.5.4-5.1 1.1-1.5.7-2.9 1.6-4.1 2.7l-.4.3 3.1 4.3.5-.5c.2-.2.4-.4.8-.7.3-.3.7-.6 1.2-.9s1-.5 1.6-.7 1.2-.3 1.9-.3c1 0 1.9.3 2.6.8.6.5 1 1.2 1 2.5 0 .6-.1 1.1-.3 1.6s-.6 1.1-1 1.6-.9 1.1-1.5 1.7l-1.8 1.8c-.8.8-1.7 1.6-2.5 2.4s-1.6 1.7-2.3 2.7-1.3 2-1.7 3.2c-.4 1.1-.6 2.4-.6 3.7v1.5l.1.5h18.6v-5.2h-12c.1-.1.1-.2.2-.4.3-.5.7-1 1.2-1.6.5-.5 1-1.1 1.5-1.6.5-.6 1-1 1.4-1.4l2.4-2.4c.8-.8 1.5-1.7 2.2-2.6s1.2-1.8 1.6-2.8.6-2 .6-3.1c0-2.5-.8-4.6-2.3-6.1-1.5-1.4-3.8-2.1-6.9-2.1zm16.7.6v.5c-.1 2.3-.2 4.6-.4 6.9s-.4 4.7-.7 7.2l-.1.6h.6c2.2 0 4 .1 5.4.4 1.4.2 2.5.6 3.3 1s1.3.9 1.6 1.5.5 1.3.5 2.1c0 .5-.1 1-.3 1.5-.2.4-.5.8-.9 1.1s-.9.6-1.6.8-1.5.3-2.5.3c-1.5 0-2.7-.1-3.7-.4s-1.8-.6-2.3-.8l-.6-.3-1.2 5.2.4.2c.3.2.7.3 1.3.5s1.2.3 1.8.4c.7.2 1.4.3 2.2.4s1.5.2 2.3.2c1.8 0 3.4-.2 4.8-.7s2.6-1.1 3.5-1.9 1.6-1.8 2.1-3c.5-1.1.7-2.4.7-3.7 0-2.9-1-5.2-3-6.9-1.9-1.6-4.8-2.5-8.4-2.8 0-.3.1-.5.1-.8.1-.5.1-1.1.1-1.7.1-.6.1-1.1.1-1.7 0-.4.1-.7.1-1h10.1v-5.2l-15.3.1z' transform='translate%280 -962.36%29'/%3E%3C/svg%3E");
}

@mixin vf-icon-location($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M12 0a7.2 7.2 0 0 0-7.2 7.2c0 .15.008.294.016.441.003.066.003.132.009.2.005.061.019.124.024.184C5.392 13.828 11.179 24 12 24c.82 0 6.608-10.172 7.15-15.975.006-.062.021-.123.026-.183.006-.066.004-.134.009-.2.006-.15.015-.3.015-.443A7.2 7.2 0 0 0 12 0zm0 4.8a2.4 2.4 0 1 1 .001 4.799A2.4 2.4 0 0 1 12 4.8z' fill='currentColor'/%3E%3C/svg%3E");
}

@mixin vf-icon-location-alt($color) {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' height='87' width='84'%3E%3Cstyle%3E.st1%7Bfill:currentColor%7D%3C/style%3E%3Cg transform='translate%28-111.97 -929.34%29'%3E%3Cpath d='M109 929.3h90v90h-90v-90z' fill='none'/%3E%3Ccircle cy='974.3' cx='154' r='12' class='st1'/%3E%3Ccircle cy='974.4' cx='154' r='30' fill='none' stroke='currentColor' stroke-width='4.2' stroke-linejoin='round'/%3E%3Cpath class='st1' d='M150 931.7l8-2.4v15h-8v-12.6zm8 84.6h-8v-12h8v12zm38-46v8h-12v-8h12zm-84 8v-8h12v8h-12z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin blog-p-icons {
  .p-icon {
    &--calendar {
      @extend %icon;
      @include vf-icon-calendar($color-dark);
    }

    &--location {
      @extend %icon;
      @include vf-icon-location($color-dark);
    }

    &--location-alt {
      @extend %icon;
      @include vf-icon-location-alt($color-dark);
    }
  }
}
