@mixin insights-p-card {

  .p-card__category {
    background: url('#{$assets-path}ed42aefa-icon-resource-hub-icon-document.png') left center no-repeat;
    color: $color-mid-dark;
    font-size: $sp-medium;
    line-height: 1.5;
    padding: 0 0 0 $sp-large;
    text-transform: uppercase;

    > a:link,
    > a:visited {
      color: $color-mid-dark;
      text-decoration: none;
    }

    > a:hover,
    > a:active {
      color: $color-brand;
      text-decoration: underline;
    }
  }

  %resources-card-header {
    border-radius: 2px;
    padding: $sp-small $sp-medium;
  }

  .p-card--resources {
    @extend .p-card--highlighted;
    display: flex !important;
    flex-direction: column;
    padding: 0;

    > .p-card__content {
      border-top: 1px dotted $color-mid-light;
      margin: 0 $sp-x-small;
      padding: $sp-x-small;

      > a, h3, p {
        display: block;
        margin: $sp-x-small 0;
      }
    }

    .p-card__footer {
      border-top: 1px dotted $color-mid-light;
      font-size: .875rem;
      margin: auto $sp-x-small 0;
      max-width: inherit;
      padding: $sp-medium $sp-x-small;
    }
  }

  .p-card__header {
    &--cloud-and-server {
      @extend %resources-card-header;
      border-top: 3px solid #2b939c;
    }

    &--desktop {
      @extend %resources-card-header;
      border-top: 3px solid #66a2c1;
    }

    &--internet-of-things {
      @extend %resources-card-header;
      border-top: 3px solid #b0709d;
    }

    &--canonical-announcements {
      @extend %resources-card-header;
      border-top: 3px solid #ff8936;
    }
  }
}
