@mixin blog-p-strips {
  @include insights-p-strips-featured;
  @include blog-p-strips-suru;
}

@mixin blog-p-strips-suru {
  .p-strip--suru {
    position: relative;
    overflow: hidden;

    &::after {
      background: rgba(17, 17, 17, 0.65);
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;

      @media only screen and (min-width: $breakpoint-medium) {
        background: linear-gradient(110deg, rgba(17, 17, 17,.65) 55%, rgba(255, 255, 255,0) 55%);
      }
    }
  }

  .p-card--suru {
    position: relative;
    z-index: 1;
  }
}

@mixin insights-p-strips-featured {
  .p-strip--featured {
    position: relative;
    background-color: #0d5777;
    background-image: linear-gradient(30deg, #0d5777 0%,#47929d 90%,#47929d 100%);
    color: $color-light;

    @media only screen and (min-width: $breakpoint-medium) {
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 0;
      }

      &:before {
        left: 0;
        background-image: url('#{$assets-path}b17a85da-insights-background-leftside-fold.png');
        background-position: top left;
      }

      &:after {
        right: 0;
        background-image: url('#{$assets-path}f6ea7ab1-insights-background-rightside-fold.png');
        background-position: top right;
      }
    }
  }
}
