@mixin insights-p-form {
  .p-form--search {
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    width: 100%;

    .p-form__group {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }

    .p-form__control {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      height: 2.1875rem;
    }

    [class^="p-button"] {
      margin-left: .5rem;
      padding: .53rem 1.5rem;
    }
  }
}
