@mixin insights-p-strips {
  @include insights-p-strips-suru;
}

@mixin insights-p-strips-suru {
  .p-strip--suru {
    position: relative;
    overflow: hidden;

    &::after {
      background: linear-gradient(110deg, rgba(17, 17, 17,.65) 50%, rgba(255, 255, 255,0) 50%);
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }
  }

  .p-card--suru {
    position: relative;
    z-index: 1;
  }
}
