@mixin insights-p-card {

  %flex-column {
    display: flex;
    flex-direction: column;
  }

  .p-card {

    &__date {
      @extend .p-media-object__meta-list;
      display: flex;
      margin-top: auto;
      padding-top: $sp-medium;
    }

    &__footer {
      margin-top: auto;
    }

    &--post {
      &--cloud-and-server {
        @extend %flex-column;
        @extend %p-card--highlighted;
        @include vf-m-category-bar(#a87ca0);
      }
  
      &--desktop {
        @extend %flex-column;
        @extend %p-card--highlighted;
        @include vf-m-category-bar(#48929b);
      }
  
      &--internet-of-things {
        @extend %flex-column;
        @extend %p-card--highlighted;
        @include vf-m-category-bar(#8db255);
      }
  
      &--canonical-announcements {
        @extend %flex-column;
        @extend %p-card--highlighted;
        @include vf-m-category-bar(#ff8936);
      }
  
      &--phone-and-tablet {
        @extend %flex-column;
        @extend %p-card--highlighted;
        @include vf-m-category-bar($color-mid-light);
      }
  
      &--webinar {
        @extend %flex-column;
        @extend %p-card--highlighted;
        @include vf-m-category-bar(#48929b);
      }
    }
  }
}
