@charset 'UTF-8';

$breakpoint-navigation-threshold: 990px;

@import 'vanilla-framework/scss/build';
@import 'pattern_social-share';
@import 'pattern_rtp';
@import 'pattern_card';

@include insights-p-social-share;
@include insights-p-rtp;
@include insights-p-card;

// Bug fixes
// Each of the the rules below are bug fixes which need to be addressed further upstream
// either at theme level or in Vanilla Framework directly.
//
// Before any feature branch is merged, these bugs should be raised in their
// respective repos and referenced here, accompanied with a breif description of
// the bug

/// XXX Code block top margin
/// Temporary fix for https://github.com/canonical-websites/insights.ubuntu.com/issues/5
/// Vanilla issue https://github.com/vanilla-framework/vanilla-framework/issues/1385
pre {
  margin-top: 1rem;
}

/// XXX Navigation dropdown
/// Temporary implementation of nav dropdown until implemented in Vanilla
@media (min-width: $breakpoint-medium + 1) {
  .p-navigation__link:hover .hover-menu {
    display: block;
  }
}

.p-navigation .p-navigation__nav ul li:hover ul::after {
  background: url('https://assets.ubuntu.com/v1/b70e6370-nav-arrow-white.svg') $sp-large bottom no-repeat;
  content: '';
  display: block;
  height: $sp-x-small;
  left: 0;
  position: absolute;
  top: -7px;
  width: 150px;
  z-index: 999;
}

.hover-menu {
  background: $color-x-light;
  border: 1px solid $color-mid-light;
  border-radius: 10px;
  box-shadow: 0 2px 2px -1px $color-mid-light;
  display: none;
  float: none;
  margin: 0;
  padding: $sp-x-small 0 $sp-medium;
  position: absolute;
  top: 50px;
  width: 150px;
  z-index: 1;

  li {
    font-size: .875rem;
    padding: $sp-x-small $sp-small 0 $sp-small;

    &:last-child {
      padding-bottom: 0;
    }
  }

  a {
    color: $color-dark;
  }
}

/// XXX Small screen accordion
/// Temporary fix until small screen nav accordion implemented in Vanilla
.p-accordion__tab {
  background-color: #f7f7f7;
  font-size: 0.875rem;
  padding: 1rem 2.5rem 1rem 8px;
}

.p-accordion__panel {
  border: none;
  padding: 0;

  >.p-navigation__links>.p-navigation__link {
    padding-left: 1rem;
  }
}


.p-heading-icon__title {
  font-size: 2.5rem;
}

.card-image {
  box-shadow: 0 1px 5px 1px rgba(51, 51, 51, 0.2);
  margin-top: 1.5rem !important;
  max-height: 100%;
}

@media (min-width: $breakpoint-medium + 1) {
  .card-image {
    margin-top: 2.5rem !important;
  }
}

.design-image {
  padding-top: 1.5rem;
  max-height: 100%;
}

@media (min-width: $breakpoint-medium + 1) {
  .design-image {
    padding-top: 2.5rem;
  }
}

.group-image {
  max-height: 240px;
  padding-top: $sp-medium;
}

.header-strip {
  height: inherit;
}

@media (min-width: $breakpoint-medium + 1) {
  .header-strip {
    height: 320px;
  }
}

.u-position--bottom {
  @media (min-width: $breakpoint-medium) {
    bottom: 0;
    position: absolute;
  }
}

  /// XXX remove whitespace under footer
.p-footer {
  padding-bottom: 2.5rem;
}

// XXX Ant - 22.01.18 This can be removed when this issue is resolved:
// https://github.com/vanilla-framework/vanilla-framework/issues/1529
.p-heading--one {
  line-height: 1.3125;

  @media (min-width: $breakpoint-medium) {
    line-height: 1.25;
  }
}

.p-heading--two {
  line-height: 1.2857;

  @media (min-width: $breakpoint-medium) {
    line-height: 1.333;
  }
}

.p-heading--three {
  line-height: 1.333;

  @media (min-width: $breakpoint-medium) {
    line-height: 1.2857;
  }
}

.p-heading--four {
  line-height: 1.333;

  @media (min-width: $breakpoint-medium) {
    line-height: 1.4;
  }
}

.p-heading--five {
  line-height: 1.4;
}

.p-heading--six {
  line-height: 1.5;
}
