@charset 'UTF-8';

$breakpoint-navigation-threshold: 990px;

@import 'vanilla-framework/scss/build';
@import 'pattern_card';
@import 'pattern_dropdown';
@import 'pattern_icons';
@import 'pattern_navigation';
@import 'pattern_rtp';
@import 'pattern_social-share';
@import 'pattern_strips';
@import 'utility_crop';

@include blog-p-card;
@include blog-u-crop;
@include blog-p-dropdown;
@include blog-p-icons;
@include blog-p-navigation;
@include blog-p-rtp;
@include blog-p-social-share;
@include blog-p-strips;

// Bug fixes
// Each of the the rules below are bug fixes which need to be addressed further upstream
// either at theme level or in Vanilla Framework directly.
//
// Before any feature branch is merged, these bugs should be raised in their
// respective repos and referenced here, accompanied with a breif description of
// the bug

/// XXX Small screen accordion
/// Temporary fix until small screen nav accordion implemented in Vanilla
.p-accordion__tab {
  background-color: #f7f7f7;
  font-size: 0.875rem;
  padding: 1rem 2.5rem 1rem 8px;
}

.p-accordion__panel {
  border: none;
  padding: 0;

  > .p-navigation__links > .p-navigation__link {
    padding-left: 1rem;
  }
}

.design-image {
  padding-top: 1.5rem;
  max-height: 100%;
}

@media (min-width: $breakpoint-medium + 1) {
  .design-image {
    padding-top: 2.5rem;
  }
}

.header-strip {
  height: inherit;
}

@media (min-width: $breakpoint-medium + 1) {
  .header-strip {
    height: 320px;
  }
}

.p-topic-image {
  height: 2.5rem;

  @media (min-width: $breakpoint-medium) {
    height: 3.5rem;
  }
}

.p-post__content {
  max-width: 35em;
}

.link-cta-ubuntu {
  @extend .p-button--positive;
}

.external {
  @extend .p-link--external;
}

// Marketo insightera-bar-widget styling
.insightera-bar-content {
  margin-top: 0;
  font-size: 14px !important;
}
.insightera-content-arrow {
  position: relative;
  top: -5px;
}
.insightera-bar-shadow-bottom {
  background-image: none !important;
}

// XXX KW 2018-12-13 - Fix required until vanilla-framework is updated to 2.0
p + p:not(.p-muted-heading),
h5 + p:not(.p-muted-heading),
h6 + p:not(.p-muted-heading),
.p-heading--five + p:not(.p-muted-heading),
.p-heading--six + p:not(.p-muted-heading) {
    margin-top: 1rem;
}

// XXX Steve: 21.06.18
// https://github.com/vanilla-framework/vanilla-framework/issues/1794
.u-no-max-width {
  max-width: none !important;
}
