@mixin cookie-p-notification {
  $asset-path: 'https://assets.ubuntu.com/v1/';

  .p-notification--cookie-policy {
    @include notification;
    bottom: 0;
    box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 200;

    @media (min-width: $breakpoint-large) {
      width: $breakpoint-large;
      left: 50%;
      margin-left: calc(#{$breakpoint-large} / -2);
    }

    &[open] {
      display: block;
    }

    @at-root .p-notification {
      &__content {
        margin: 0;
        padding-right: $sp-large;
        text-align: left;
      }

      &__close {
        background-color: $color-transparent;
        background-image: url('#{$asset-path}66542f40-close.svg');
        background-size: 1rem;
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        cursor: pointer;
        height: 1rem;
        padding: 1rem;
        position: absolute;
        right: .75rem;
        text-indent: -99999px;
        top: .25rem;
        width: 1rem;
      }
    }
  }
}
