{% extends "layout.html" %}
{% block body %}
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-KWL5RDF':true});</script>
<script>
  if (ga) {
    ga('require', 'GTM-KWL5RDF');
  }
</script>

{% if request.args.get('newsletter') == 'true' %}
<div class="p-strip--light is-shallow">
  <div class="row">
    <div class="p-notification--positive">
      <p class="p-notification__response">
        <span class="p-notification__status">Success:</span> Thank you for subscribing! You will begin receiving emails as new content is posted. You may unsubscribe any time by clicking the link in the email.
      </p>
    </div>
  </div>
</div>
{% endif %}

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-12">
      <h1 class="p-heading--two">
        Ubuntu news and resources
      </h1>
    </div>
  </div>
</section>

{% if featured_posts %}{% include "featured-posts.html" %}{% endif %}

{% include "accordion-signup-form.html" %}

{% include "alternate_posts.html" %}

{% include "pagination.html" %}

<div class="p-strip is-shallow">
  <div class="row">
    <h2>Webinars</h2>
  </div>
  {%- for webinar in webinars %}
  {% if loop.index0 % 3 == 0 %}
  <div class="row u-equal-height u-clearfix">
  {% endif %}
    <div class="col-4 p-card--post">
      <header class="p-card__header--webinar">
        <h5 class="p-muted-heading">{{ webinar.tags[0].term | safe }}</h5>
      </header>
      <div class="p-card__content">
        <a href="{{ webinar.links[0].href | safe }}">
          <img src="{{ webinar.links[2].href }}" alt="" />
        </a>
        <h3 class="p-heading--four"><a href="{{ webinar.links[0].href | safe }}">{{ webinar.title_detail.value | safe }}</a></h3>
        <p>{{ webinar.summary | truncate (150, False, '&hellip;') | safe }}</p>
        <ul class="p-card__date">
          <li class="p-media-object__meta-list-item--date">
            <span class="u-off-screen">Date: </span>
            <a href="https://www.brighttalk.com/service/channel/channel/6793/communication/{{ webinar.bt_communication.id }}/calendar/ics">
              {{ webinar.updated_datetime.strftime('%d %B %Y') }}
            </a>
          </li>
        </ul>
      </div>
      <p class="p-card__footer">Webinar</p>
    </div>
  {% if loop.index0 % 3 == 2 or loop.last %}
  </div>
  {% endif %}
  {%- endfor %}
</div>
{% endblock %}
