{% block posts %}

<div class="p-strip is-shallow" id="posts-list">
  {% if not tag %}
    <div class="row">
      <div class="col-12 u-align--right">
        <form action="" method="get" class="p-form p-form--inline">
          <div class="p-form__group">
            <label for="filter" aria-label="Filter the resources by type" class="p-form__label">Filter: </label>
            <select class="js-submit-on-change p-form__control" id="filter" name="content" aria-label="Filter by content type" style="padding-right: 40px">
              <option {% if not category %}selected="selected"{% endif %} value="/{% if group_details and group_details['slug'] %}{{ group_details['slug'] }}{% endif %}#posts-list">All content types</option>
              <option {% if category and category.slug == 'articles' %}selected="selected"{% endif %} value="{% if group_details and group_details['slug'] %}/{{ group_details['slug'] }}{% endif %}?category=articles#posts-list">Articles</option>
              <option {% if category and category.slug == 'case-studies' %}selected="selected"{% endif %} value="{% if group_details and group_details['slug'] %}/{{ group_details['slug'] }}{% endif %}?category=case-studies#posts-list">Case studies</option>
              <option {% if category and category.slug == 'news' %}selected="selected"{% endif %} value="{% if group_details and group_details['slug'] %}/{{ group_details['slug'] }}{% endif %}?category=news#posts-list">News</option>
              <option {% if category and category.slug == 'videos' %}selected="selected"{% endif %} value="{% if group_details and group_details['slug'] %}/{{ group_details['slug'] }}{% endif %}?category=videos#posts-list">Videos</option>
              <option {% if category and category.slug == 'webinars' %}selected="selected"{% endif %} value="{% if group_details and group_details['slug'] %}/{{ group_details['slug'] }}{% endif %}?category=webinars#posts-list">Webinars</option>
              <option {% if category and category.slug == 'white-papers' %}selected="selected"{% endif %} value="{% if group_details and group_details['slug'] %}/{{ group_details['slug'] }}{% endif %}?category=white-papers#posts-list">White papers</option>
            </select>
            <input type="submit" value="Send Request" class="u-hide">
            <input type="hidden" name="topic" value="cloud-and-server">
          </div>
        </form>
        <script>
        var select = document.querySelector('.js-submit-on-change');
        select.addEventListener('change', function(e) {
          var form = this.closest('form');
          if (form) {
            location.href=document.getElementById("filter").value;
          }
        });
        </script>
      </div>
    </div>
  {% endif %}

{%- for post in posts %}
  {% if loop.index0 % 3 == 0 %}
  <div class="row u-equal-height u-clearfix">
  {% endif %}
  <div class="col-4 p-card--post">
    <header class="p-card__header--{{ post.group.slug }}">
      <h5 class="p-muted-heading">{{ post.group.name }}</h5>
    </header>
    <div class="p-card__content">
      {% if post.featuredmedia %}
      <a href="{{post.link}}">
        <img src="{{post.featuredmedia.source_url}}" alt="{{post.featuredmedia.alt_text}}" />
      </a>
      {% endif %}
      <h3 class="p-heading--four"><a href="{{ post.link }}">{{ post.title.rendered | safe }}</a></h3>
      {% if post.author %}
        <p><em>By <a href="{{ post.author.link }}" title="More about {{ post.author.name }}">{{ post.author.name }}</a> on {{ post.date }}</em></p>
      {% endif %}
      {% if not post.featuredmedia %}
      <p class="u-no-padding--bottom">{{ post.summary | striptags | urlize(30, true) }}</p>
      {% endif %}
    </div>
    <p class="p-card__footer">{{ post.category.name | capitalize }}</p>
  </div>
  {% if loop.index0 % 3 == 2 or loop.last %}
  </div>
  {% endif %}
{%- endfor %}
</div>

{% endblock %}
