{% extends "layout.html" %}
{% block body %}
<div class="p-strip">
  <div class="row">
    <div class="col-8">
      <div class="p-media-object">
        <img src="{{ author.avatar_urls['96'] }}" class="p-media-object__image">
        <div class="p-media-object__details">
          <h1 class="p-media-object__title">
            {{ author.name }}
          </h1>
          <p class="p-media-object__content">{{ author.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-strip--light">
  <div class="row">
    <div class="col-8 prefix-1">
      <h3 class="p-heading--five">Recently posted by {{ author.name }}</h3>
      <ul class="p-list--divided">
      {% for post in author.recent_posts %}
        <li class="p-list__item"><a href="{{ post.relative_link }}">{{ post.title.rendered | safe }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
