{% block featured_posts %}

<div class="p-strip is-shallow u-no-padding--top" id="posts-list">
  <div class="row">
    <div class="col-12">
      <h4 class="p-muted-heading">Featured posts</h4>
    </div>
  </div>
  {%- for post in featured_posts %}
  {% if loop.index0 % 3 == 0 %}
  <div class="row u-equal-height">
  {% endif %}
    <div class="col-4 p-card--post--{{ post.group.slug }}">
        <h4 class="p-muted-heading">{{ post.group.name }}</h4>
        <hr>
        {% if post.featuredmedia %}
        <a href="{{post.link}}">
          <img src="{{post.featuredmedia.source_url}}" alt="{{post.featuredmedia.alt_text}}" />
        </a>
        {% endif %}
        <h3 class="p-heading--four"><a href="{{ post.link }}">{{ post.title.rendered | safe }}</a></h3>
        {% if post.author %}
          <p><em>By <a href="{{ post.author.link }}" title="More about {{ post.author.name }}">{{ post.author.name }}</a> on {{ post.date }}</em></p>
        {% endif %}
        {% if not post.featuredmedia %}
        <p class="">{{ post.summary | striptags | urlize(30, true) }}</p>
        {% endif %}
        {% if post.category.name %}
        <div class="p-card__footer">
          <hr>
          <small>{{ post.category.name }}</small>
        </div>
        {% endif %}
    </div>
  {% if loop.index0 % 3 == 2 or loop.last %}
  </div>
  {% endif %}
{%- endfor %}
</div>

{% endblock %}
