{% block featured_posts %}

<div class="p-strip--featured is-dark is-shallow u-no-margin--top" id="posts-list">
  <div class="row">
    <div class="col-12">
      <h5>Featured posts</h5>
    </div>
  </div>
  {%- for post in featured_posts %}
  {% if loop.index0 % 3 == 0 %}
  <div class="row u-equal-height u-clearfix">
  {% endif %}
    <div class="col-4 p-card--post">
      <header class="p-card__header--{{ post.group.slug }}">
        <h5 class="p-muted-heading">{{ post.group.name }}</h5>
      </header>
      <div class="p-card__content">
        {% if post.featuredmedia %}
        <div class="u-crop--16-9">
          <a href="{{post.link}}" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Featured post', 'eventAction' : 'from:https://blog.ubuntu.com, to:https://blog.ubuntu.com{{post.link}}', 'eventLabel' : '{{ post.title.rendered | safe }}', 'eventValue' : undefined });">
            <img src="https://res.cloudinary.com/canonical/image/fetch/w_460/{{post.featuredmedia.source_url}}"
              srcset="https://res.cloudinary.com/canonical/image/fetch/w_460/{{post.featuredmedia.source_url}} 460w,
                      https://res.cloudinary.com/canonical/image/fetch/w_620/{{post.featuredmedia.source_url}} 620w,
                      https://res.cloudinary.com/canonical/image/fetch/w_875/{{post.featuredmedia.source_url}} 875w"
              sizes="(min-width: 1031px) 460px,
                    (max-width: 1030px) and (min-width: 876px) 460px,
                    (max-width: 875px) and (min-width: 621px) 875px,
                    (max-width: 620px) and (min-width: 461px) 620px,
                    (max-width: 460px) 460px" alt="{{post.featuredmedia.alt_text}}">
          </a>
        </div>
        {% endif %}
        <h3 class="p-heading--four">
          <a href="{{ post.link }}" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Featured post', 'eventAction' : 'from:https://blog.ubuntu.com, to:https://blog.ubuntu.com{{post.link}}', 'eventLabel' : '{{ post.title.rendered | safe }}', 'eventValue' : undefined });">
            {{ post.title.rendered | safe }}
          </a>
        </h3>
        {% if post.author %}
          <p><em>By <a href="{{ post.author.link }}" title="More about {{ post.author.name }}">{{ post.author.name }}</a> on {{ post.date }}</em></p>
        {% endif %}
        {% if not post.featuredmedia %}
        <p class="u-no-padding--bottom">{{ post.summary | striptags | urlize(30, true) }}</p>
        {% endif %}
      </div>
      <p class="p-card__footer">{% include 'singular-category.html' %}</p>
    </div>
  {% if loop.index0 % 3 == 2 or loop.last %}
  </div>
  {% endif %}
{%- endfor %}
</div>

{% endblock %}
