{% extends "layout.html" %}
{% block body %}

  <div class="p-strip--image  is-dark" style="background-position: center center; background-image:url('{{ group_details.hero_url }}')">
    <div class="row u-equal-height u-vertically-center">
      <div class="col-6 p-card--overlay">
        <h1 class="p-heading--one">
          {% if request.path.startswith("/press-centre/") %}
            Press centre
          {% else %}
            {{ group_details.name }}
          {% endif %}
        </h1>
        {% if not category %}
          <h5 style="line-height: 1.5rem;">
            {{ group_details.description }}
          </h5>
          {% if group_details.url %}
          <p>
            <a class="p-link--external" href="{{ group_details.url }}">Learn more about {{ group_details.name }}</a>
          </p>
          {% endif %}
        {% else %}
          <h4>
            {{ category.name }}
          </h4>
        {% endif %}
      </div>
      <div id="rtp-banner" class="rtp-banner"></div>
    </div>
  </div>

  {% include "posts.html" %}

{% endblock %}
