{% extends "layout.html" %}
{% block body %}

  <section class="p-strip--image is-dark p-strip--suru" style="background-position: center center; background-image:url('{{ group_details.hero_url }}')">
    <div class="row u-equal-height u-vertically-center">
      <div class="col-6 p-card--suru">
        <h1 class="p-heading--one">
          {{ group_details.name }}
        </h1>
        <h5 style="line-height: 1.75rem;">
          {{ group_details.description | safe }}
        </h5>
        {% if group_details.url %}
        <p>
          <a class="p-link--external p-link--inverted" href="{{ group_details.url }}">Learn more about {{ group_details.name }}</a>
        </p>
        {% endif %}
      </div>
      <div id="rtp-banner" class="rtp-banner"></div>
    </div>
  </section>

  {% include "posts.html" %}

  {% include "pagination.html" %}

{% endblock %}
