{% extends "layout.html" %}
{% block title %}Internet of Things{% endblock %}
{% block description %}All you need to know about building and managing IoT and embedded devices using Ubuntu.{% endblock %}
{% block body %}

  <section class="p-strip--image is-dark p-strip--suru" style="background-position: center center; background-image:url('https://assets.ubuntu.com/v1/d1d58769-drone-iceland-unsplash-no-logo.jpg')">
    <div class="row u-equal-height u-vertically-center">
      <div class="col-6 p-card--suru">
        <h1 class="p-heading--one">Internet of Things</h1>
        <h5 style="line-height: 1.75rem;">
          All you need to know about building and managing IoT and embedded devices using Ubuntu.
        </h5>

        <p>
          <a class="p-link--external p-link--inverted" href="https://www.ubuntu.com/things">Learn more about Internet of Things</a>
        </p>

      </div>
      <div id="rtp-banner" class="rtp-banner"></div>
    </div>
  </section>

  {% include "posts.html" %}

  {% include "pagination.html" %}

{% endblock %}
