{% block body %}

<nav class="p-navigation__nav">
  <span class="u-off-screen">
    <a href="#main-content">Jump to main content</a>
  </span>
  <ul class="p-navigation__links">
    <li class="p-navigation__link{%- if page_slug == 'cloud-and-server' %} is-selected{% endif %}">
      <a href="/cloud-and-server">Cloud and Server</a>
      <ul class="hover-menu">
        <li class="hover-menu__item"><a href="/cloud-and-server">All</a></li>
        <li class="hover-menu__item"><a href="/cloud-and-server?category=articles">Articles</a></li>
        <li class="hover-menu__item"><a href="/cloud-and-server?category=case-studies">Case Studies</a></li>
        <li class="hover-menu__item"><a href="/cloud-and-server?category=videos">Videos</a></li>
        <li class="hover-menu__item"><a href="/cloud-and-server?category=webinars">Webinars</a></li>
        <li class="hover-menu__item"><a href="/cloud-and-server?category=white-papers">White papers</a></li>
      </ul>
    </li>
    <li class="p-navigation__link{%- if page_slug == 'internet-of-things' %} is-selected{% endif %}">
      <a href="/internet-of-things">IoT</a>
      <ul class="hover-menu">
        <li class="hover-menu__item"><a href="/internet-of-things">All</a></li>
        <li class="hover-menu__item"><a href="/internet-of-things?category=articles">Articles</a></li>
        <li class="hover-menu__item"><a href="/internet-of-things?category=case-studies">Case Studies</a></li>
        <li class="hover-menu__item"><a href="/internet-of-things?category=videos">Videos</a></li>
        <li class="hover-menu__item"><a href="/internet-of-things?category=webinars">Webinars</a></li>
        <li class="hover-menu__item"><a href="/internet-of-things?category=white-papers">White papers</a></li>
      </ul>
    </li>
    <li class="p-navigation__link{%- if page_slug == 'desktop' %} is-selected{% endif %}">
      <a href="/desktop">Desktop</a>
      <ul class="hover-menu">
        <li class="hover-menu__item"><a href="/desktop">All</a></li>
        <li class="hover-menu__item"><a href="/desktop?category=articles">Articles</a></li>
        <li class="hover-menu__item"><a href="/desktop?category=case-studies">Case Studies</a></li>
        <li class="hover-menu__item"><a href="/desktop?category=videos">Videos</a></li>
        <li class="hover-menu__item"><a href="/desktop?category=webinars">Webinars</a></li>
        <li class="hover-menu__item"><a href="/desktop?category=white-papers">White papers</a></li>
      </ul>
    </li>
    <li class="p-navigation__link{%- if page_slug == 'topics' %} is-selected{% endif %}">
      <a href="#">Topics</a>
      <ul class="hover-menu">
        <li class="hover-menu__item"><a href="/topics/design">Design</a></li>
        <li class="hover-menu__item"><a href="/topics/juju">Juju</a></li>
        <li class="hover-menu__item"><a href="/topics/maas">MAAS</a></li>
        <li class="hover-menu__item"><a href="/topics/snappy">Snapcraft</a></li>
      </ul>
    </li>
    <li class="p-navigation__link{%- if page_slug == 'press-centre' %} is-selected{% endif %}">
      <a href="/press-centre">Press centre</a>
    </li>
  </ul>
  <form class="p-search-box" action="/search">
    <input type="search" class="p-search-box__input" name="q" placeholder="Search" required="">
    <button type="reset" class="p-search-box__reset" alt="reset"><i class="p-icon--close"></i></button>
    <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
  </form>
</nav>

{% endblock %}
