{% extends "layout.html" %}

{% block body %}
{% if request.args.get('newsletter') == 'true' %}
<div class="p-strip--light  is-shallow">
  <div class="row">
    <div class="p-notification--positive">
      <p class="p-notification__response">
        <span class="p-notification__status">Success:</span> Thank you for subscribing! You will begin receiving emails as new content is posted. You may unsubscribe any time by clicking the link in the email.
      </p>
    </div>
  </div>
</div>
{% endif %}

<div class="p-strip--light  is-shallow">
  <div class="row">
    <div class="col-10">
      <p><img src="{{ post.author.avatar_urls["48"] }}" alt="{{ post.author.name }}"> by <a href="{{ post.author.relative_link }}" title="More about {{ post.author.name }}">{{ post.author.name }}</a> on  {{ post.formatted_date }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <h1>{{ post.title.rendered | safe }}</h1>
    </div>
  </div>
  {% if post.tags %}
  <div class="row">
    <div class="col-10">
      <p>
        <strong>Tags:</strong>
        {% for tag in post.tags %}
          <a href="/tag/{{ tag.slug }}">
            {{ tag.name }}</a>{{ ',' if not loop.last }}
        {% endfor %}
      </p>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-10">
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a class="p-social-icon--facebook" title="Share on Facebook" href="http://www.facebook.com/sharer.php?s=100&amp;p[url]=https://insights.ubuntu.com/?p={{ post.id }}&#9;&#9;&#9;&amp;p[title]={{ post.title.rendered | safe }}&amp;p[summary]={{ post.excerpt.rendered | safe }}%26hellip%3B&amp;p[images][0]=">
            Facebook
          </a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-social-icon--twitter" title="Share on Twitter" href="http://twitter.com/share?text={{ post.title.rendered | safe }}&amp;url=https://insights.ubuntu.com/?p={{ post.id }}&amp;hashtags=ubuntu">
            Twitter
          </a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-social-icon--google" title="Share on google+" href="https://plus.google.com/share?url=https://insights.ubuntu.com/?p={{ post.id }}">
          Google+
        </a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-social-icon--email" title="Share via Email" href="mailto:?subject=Saw%20this%20and%20thought%20of%20you&amp;body=&#10;&#9;&#9;&#9;I've%20just%20read%20%27{{ post.title.rendered | safe }}%27%20on%20the%20Ubuntu%20Insights%20website%20and%20thought%20you%20would%20like%20it.%20Check%20it%20out:%20https://insights.ubuntu.com/?p={{ post.id }}">
          Email
        </a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-social-icon--linked-in" title="Share on LinkedIn" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://insights.ubuntu.com/?p={{ post.id }}&amp;title={{ post.title.rendered | safe }}">
          LinkedIn
        </a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-social-icon--pocket" title="Add to Pocket" href="http://getpocket.com/save?url=https://insights.ubuntu.com/?p={{ post.id }}&amp;title={{ post.title.rendered | safe }}">
          Pocket
        </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="p-strip is-shallow">
  <div class="row">
    <div class="col-8">
      {{ post.content.rendered | safe }}
    </div>
    <div class="col-4">
      <div class="p-card" {% if post.topics[0] %} id="rtp-{{ post.topics[0].slug }}" {% endif %}>
        <h3>
          <a href="http://www.ubuntu.com/cloud" class="p-link--external">
            Ubuntu cloud
          </a>
        </h3>
        <p>
          Ubuntu offers all the training, software infrastructure, tools,
          services and support you need for your public and private clouds.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="p-strip is-shallow">
    <div class="row">
      <div class="col-8">
        <form action="https://pages.canonical.com/index.php/leadCapture/save" method="post" id="mktoForm_1212" novalidate="novalidate">
          <h2>Sign up for email updates</h2>
          <p>Choose the topics you're interested in</p>
            <ul class="p-list">
              <li class="p-list__item">
                <input class="mktoLogicalField mktoCheckboxList mktoHasWidth" type="checkbox" id="insightscloudserver" name="insightscloudserver" value="Cloud and server" {% if post.topics[0].slug == 'cloud' or 'server'  %} checked="checked"{% endif %} />
                <label for="insightscloudserver">Cloud and server</label>
              </li>
              <li class="p-list__item">
                <input class="mktoLogicalField mktoCheckboxList mktoHasWidth" type="checkbox" id="insightsdesktop" name="insightsdesktop" value="Desktop"{% if post.topics[0].slug == 'desktop' %} checked="checked"{% endif %} />
                <label for="insightsdesktop">Desktop</label>
              </li>
              <li class="p-list__item">
                <input class="mktoLogicalField mktoCheckboxList mktoHasWidth" type="checkbox" id="insightsiot" name="insightsiot" value="Internet of Things"{% if post.topics[0].slug == 'internet-of-things' %} checked="checked"{% endif %} />
                <label for="insightsiot">Internet of Things</label>
              </li>
              <li class="p-list__item">
                  <input class="mktoLogicalField mktoCheckboxList mktoHasWidth" id="insightstutorials" name="insightstutorials" value="Tutorials" {% if post.topics[0].slug == 'tutorials' %} checked="checked" {% endif %}type="checkbox">
                  <label for="insightstutorials">Tutorials</label>
              </li>
            </ul>

          <div class='mktFormReq mktField'>
            <label for="Email" class="mktoLabel">Work email: <span>*</span></label>
            <input required  id="Email" name="Email" maxlength="255" type="email" class="mktoField mktoEmailField  mktoRequired" />
          </div>

          <div class="mktField mktLblRight">
            <span class="mktInput mktLblRight">
              <input class="mktFormCheckbox" name="canonicalUpdatesOptIn" id="canonicalUpdatesOptIn" value="Receive updates" type="checkbox" />
              <label for="canonicalUpdatesOptIn" class="p-form__label">I would like to receive occasional updates from Canonical by email.</label>&nbsp;<span class="mktFormMsg"></span>
            </span>
          </div>

          <div>
            <span class='mktoButtonWrap'><button type='submit' class='mktoButton'>Subscribe now</button></span>
            <input value="1959" class="mktoField mktoFieldDescriptor" name="lpId" type="hidden">
            <input value="30" class="mktoField mktoFieldDescriptor" name="subId" type="hidden">
            <input name="lpurl" value="https://pages.canonical.com/Insights-Subscription_Insights-Subscription-test.html?cr={creative}&amp;kw={keyword}" type="hidden">
            <input value="1212" class="mktoField mktoFieldDescriptor" name="formid" type="hidden">
            <input type="hidden" name="ret" value="http://{{request.host}}{{request.path}}?newsletter=true" />
            <input value="066-EOV-335" class="mktoField mktoFieldDescriptor" name="munchkinId" type="hidden">
            <input name="kw" value="" type="hidden">
            <input name="cr" value="" type="hidden">
            <input name="searchstr" value="" type="hidden">
            <input name="_mkt_disp" value="return" type="hidden">
            <input name="_mkt_trk" value="id:066-EOV-335&amp;token:_mch-ubuntu.com-1473266321199-95160" type="hidden">
          </div>
        </form>
      </div>
      <script src="https://assets.ubuntu.com/v1/5d7e5bbf-jquery-2.2.0.min.js"></script>
      <script src="https://assets.ubuntu.com/v1/d55f58bb-jquery.validate.js"></script>
      <script>
      $("#mktoForm_1212").validate({
          errorElement: "span",
          errorClass: "mktFormMsg mktError"
      });
      </script>
    </div>
  </div>
</div>
<div class="p-strip--light is-shallow">
  <div class="row">
    <div class="col-8">
      <h2>Related posts</h2>
    </div>
  </div>
  <div class="row p-divider">
    {% for related in post.related_posts  %}
    {% if loop.index <= 3 %}
    <div class="col-4 p-divider__block">
      <h4>
        <a href="{{ related.relative_link }}">
        {{  related.title.rendered | safe  }}
        </a>
      </h4>
      <p>
        {{ related.excerpt.rendered | truncate (250, False, '&hellip;') | safe }}
      </p>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
