{% block posts %}

<div class="p-strip is-shallow" id="posts-list">
  {% if not tag %}
    <div class="row">
      <div class="col-12 u-align--right">
        <form action="" method="get" class="p-form p-form--inline">
          <div class="p-form__group">
            <label for="filter" aria-label="Filter the resources by type" class="p-form__label">Filter: </label>
            <select class="js-submit-on-change p-form__control" id="filter" name="content" aria-label="Filter by content type" style="padding-right: 40px">
              <option {% if not category %}selected="selected"{% endif %} value="/{% if group_details and group_details['slug'] %}{{ group_details['slug'] }}{% endif %}#posts-list">All content types</option>
              <option {% if category and category.slug == 'articles' %}selected="selected"{% endif %} value="{% if group_details and group_details['slug'] %}/{{ group_details['slug'] }}{% endif %}?category=articles#posts-list">Articles</option>
              <option {% if category and category.slug == 'case-studies' %}selected="selected"{% endif %} value="{% if group_details and group_details['slug'] %}/{{ group_details['slug'] }}{% endif %}?category=case-studies#posts-list">Case studies</option>
              <option {% if category and category.slug == 'news' %}selected="selected"{% endif %} value="{% if group_details and group_details['slug'] %}/{{ group_details['slug'] }}{% endif %}?category=news#posts-list">News</option>
              <option {% if category and category.slug == 'videos' %}selected="selected"{% endif %} value="{% if group_details and group_details['slug'] %}/{{ group_details['slug'] }}{% endif %}?category=videos#posts-list">Videos</option>
              <option {% if category and category.slug == 'webinars' %}selected="selected"{% endif %} value="{% if group_details and group_details['slug'] %}/{{ group_details['slug'] }}{% endif %}?category=webinars#posts-list">Webinars</option>
              <option {% if category and category.slug == 'white-papers' %}selected="selected"{% endif %} value="{% if group_details and group_details['slug'] %}/{{ group_details['slug'] }}{% endif %}?category=white-papers#posts-list">White papers</option>
            </select>
            <input type="submit" value="Send Request" class="u-hide">
            <input type="hidden" name="topic" value="cloud-and-server">
          </div>
        </form>
        <script>
        var select = document.querySelector('.js-submit-on-change');
        select.addEventListener('change', function(e) {
          var form = this.closest('form');
          if (form) {
            location.href=document.getElementById("filter").value;
          }
        });
        </script>
      </div>
    </div>
  {% endif %}

{%- for post in posts %}
  {% if loop.index0 % 3 == 0 %}
  <div class="row u-equal-height u-clearfix">
  {% endif %}
  {% if loop.index0 == 2 %}
  <div class="col-4 p-card--form">
    <header class="p-card__header">
      <h5 class="p-muted-heading">Newsletter signup</h5>
    </header>
    <div class="p-card__content">
      <form action="https://pages.canonical.com/index.php/leadCapture/save" method="post" id="mktoForm_1212" novalidate="novalidate">
        <h3 class="p-card--title p-heading--four">Select topics you're interested in</h3>
        <div class="p-card--content">
          <ul class="p-list">
            <li class="p-list__item u-no-margin--top">
              <input class="mktoLogicalField mktoCheckboxList mktoHasWidth" type="checkbox" id="insightscloudserver" name="insightscloudserver" value="Cloud and server" />
              <label class="u-no-margin--top" for="insightscloudserver">Cloud and server</label>
            </li>
            <li class="p-list__item u-no-margin--top">
              <input class="mktoLogicalField mktoCheckboxList mktoHasWidth" type="checkbox" id="insightsdesktop" name="insightsdesktop" value="Desktop" />
              <label class="u-no-margin--top" for="insightsdesktop">Desktop</label>
            </li>
            <li class="p-list__item u-no-margin--top">
              <input class="mktoLogicalField mktoCheckboxList mktoHasWidth" type="checkbox" id="insightsiot" name="insightsiot" value="Internet of Things" />
              <label class="u-no-margin--top" for="insightsiot">Internet of Things</label>
            </li>
            <li class="p-list__item u-no-margin--top">
              <input class="mktoLogicalField mktoCheckboxList mktoHasWidth" id="insightstutorials" name="insightstutorials" value="Tutorials" type="checkbox">
              <label class="u-no-margin--top" for="insightstutorials">Tutorials</label>
            </li>
          </ul>
          <div class="mktFormReq mktField">
              <label class="u-no-margin--top" for="Email" class="mktolabel u-no-margin--top">Work email: <span>*</span></label>
              <input required  id="Email" name="Email" maxlength="255" type="email" class="u-no-margin--top mktoField mktoEmailField  mktoRequired" />
          </div>
          <div class="mktField mktLblRight">
            <span class="mktInput mktLblRight">
              <input class="u-no-margin--top mktFormCheckbox" name="canonicalUpdatesOptIn" id="canonicalUpdatesOptIn" value="Receive updates" type="checkbox" />
              <label class="p-form__label u-no-margin--top" for="canonicalUpdatesOptIn">I would like to receive occasional updates from Canonical by email.</label>&nbsp;<span class="mktFormMsg"></span>
            </span>
          </div>
          <div class="u-no-margin--top">
            <span class="mktoButtonWrap p-card--content">
              <button type="submit" class="mktoButton">Subscribe now</button>
            </span>
            <input value="1959" class="mktoField mktoFieldDescriptor" name="lpId" type="hidden">
            <input value="30" class="mktoField mktoFieldDescriptor" name="subId" type="hidden">
            <input name="lpurl" value="https://pages.canonical.com/Insights-Subscription_Insights-Subscription-test.html?cr={creative}&amp;kw={keyword}" type="hidden">
            <input value="1212" class="mktoField mktoFieldDescriptor" name="formid" type="hidden">
            <input type="hidden" name="ret" value="http://{{request.host}}{{request.path}}?newsletter=true" />
            <input value="066-EOV-335" class="mktoField mktoFieldDescriptor" name="munchkinId" type="hidden">
            <input name="kw" value="" type="hidden">
            <input name="cr" value="" type="hidden">
            <input name="searchstr" value="" type="hidden">
            <input name="_mkt_disp" value="return" type="hidden">
            <input name="_mkt_trk" value="id:066-EOV-335&amp;token:_mch-ubuntu.com-1473266321199-95160" type="hidden">
          </div>
        </form>
        </div>
      </div>
      <script src="https://assets.ubuntu.com/v1/5d7e5bbf-jquery-2.2.0.min.js"></script>
      <script src="https://assets.ubuntu.com/v1/d55f58bb-jquery.validate.js"></script>
      <script>
        $("#mktoForm_1212").validate({
          errorPlacement: function(error, element) {
            error.appendTo( element.parent().addClass( "p-form-validation is-error" ));
            error.appendTo( element.addClass( "p-form-validation__input" ));
          },
          errorElement: "span",
          errorClass: "p-form-validation__message"
        });
      </script>
    </div>
  {% else %}
    <div class="col-4 p-card--post">
      <header class="p-card__header--{{ post.group.slug }}">
        <h5 class="p-muted-heading">{{ post.group.name }}</h5>
      </header>
      <div class="p-card__content">
        {% if post.featuredmedia %}
        <a href="{{post.link}}">
          <img src="{{post.featuredmedia.source_url}}" alt="{{post.featuredmedia.alt_text}}" />
        </a>
        {% endif %}
        <h3 class="p-heading--four"><a href="{{ post.link }}">{{ post.title.rendered | safe }}</a></h3>
        {% if post.author %}
          <p><em>By <a href="{{ post.author.link }}" title="More about {{ post.author.name }}">{{ post.author.name }}</a> on {{ post.date }}</em></p>
        {% endif %}
        {% if not post.featuredmedia %}
        <p class="u-no-padding--bottom">{{ post.summary | striptags | urlize(30, true) }}</p>
        {% endif %}
      </div>
      <p class="p-card__footer">{{ post.category.name | capitalize }}</p>
    </div>
  {% endif %}
  {% if loop.index0 % 3 == 2 or loop.last %}
  </div>
  {% endif %}
{%- endfor %}
</div>

{% endblock %}
