{% extends "layout.html" %}

{% block body %}
{% if request.args.get('newsletter') == 'true' %}
<div class="p-strip--light is-shallow">
  <div class="row">
    <div class="p-notification--positive">
      <p class="p-notification__response">
        <span class="p-notification__status">Success:</span> Thank you for subscribing! You will begin receiving emails as new content is posted. You may unsubscribe any time by clicking the link in the email.
      </p>
    </div>
  </div>
</div>
{% endif %}

<div class="p-strip--image is-shallow" style="background-image: url(https://assets.ubuntu.com/v1/f8a323a7-image-background-paper.png);">
  <div class="row">
    <div class="col-8">
      <h1>{% block title %}{{ post.title.rendered | safe }}{% endblock %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="p-media-object">
        {% if post.author %}
          {# post.author.id 217 is Canonical, which needs the icon added manually #}
          <img src="{% if post.author.id == 217 %}https://assets.ubuntu.com/v1/60d9b81e-picto-canonical.svg{% elif post.author.user_photo %}{{ post.author.user_photo }}{% else %}{{ post.author.avatar_urls['96'] }}{% endif %}" class="p-media-object__image is-round" alt="{{ post.author.name }}">
        {% endif %}
        <div class="p-media-object__details">
          {% if post.author %}
            <h3 class="p-media-object__title">
              <a href="{{ post.author.link }}" title="More about {{ post.author.name }}">{{ post.author.name }}</a>
            </h3>
          {% endif %}
          <p class="p-media-object__content">on {{ post.date }}</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <ul class="p-inline-list u-vertically-center p-social-widget">
        <li class="p-inline-list__item">
          Share on:
        </li>
        <li class="p-inline-list__item">
          <a class="p-icon--facebook" title="Share on Facebook" href="http://www.facebook.com/sharer.php?s=100&amp;p[url]=https://blog.ubuntu.com/?p={{ post.id }}&#9;&#9;&#9;&amp;p[title]={{ post.title.rendered | safe | urlencode }}&amp;p[summary]={{ post.summary | safe | urlencode}}%26hellip%3B&amp;p[images][0]=">
            Facebook
          </a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-icon--twitter" title="Share on Twitter" href="http://twitter.com/share?text={{ post.title.rendered | safe | urlencode }}&amp;url=https://blog.ubuntu.com/?p={{ post.id }}&amp;hashtags=ubuntu">
            Twitter
          </a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-icon--linkedin" title="Share on LinkedIn" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://blog.ubuntu.com/?p={{ post.id }}&amp;title={{ post.title.rendered | safe | urlencode }}">
          LinkedIn
        </a>
        </li>
      </ul>
    </div>
  </div>
  {% if tags %}
    <div class="row">
      <div class="col-10">
        <p>
          <strong>Tags:</strong>
          {% for tag in tags %}
            <a href="/tag/{{ tag.slug }}">
              {{ tag.name }}</a>{{ ',' if not loop.last }}
          {% endfor %}
        </p>
      </div>
    </div>
  {% endif %}
</div>
<div class="p-strip is-shallow">
  <div class="row u-equal-height">
    <div class="col-8">
      <div class="p-post__content">
        {{ post.content.rendered | safe }}
      </div>
    </div>
    <div class="col-4">
      {# right rail #}
      {% include 'product-cards.html' %}
      <div style="position: sticky; top: 2rem;">{% include 'newsletter-form.html' %}</div>
    </div>
  </div>
</div>
<div class="p-strip--light is-shallow">
  <div class="row">
    <div class="col-8">
      <h3>Related posts</h3>
    </div>
  </div>
  <div class="row p-divider">
    {% for related in related_posts  %}
    {% if loop.index <= 3 %}
    <div class="col-4 p-divider__block">
      <h4>
        <a href="{{ related.link }}">
        {{  related.title.rendered | safe  }}
        </a>
      </h4>
      <p>
        {{ related.summary | truncate (250, False, '&hellip;') | striptags | urlize(30, true) }}
      </p>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
