{% extends "layout.html" %}

{% block body %}
  <section id="main-content" class="p-strip--accent is-dark is-deep">
    <div class="row">
      <div class="col-10">
        <h1>Search</h1>
        <p class="p-heading--five">We&rsquo;ve found  {{ result.count }} results for &ldquo;{{ result.query }}&rdquo;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <form action="/" class="p-form p-form--inline p-form--search">
          <div class="p-form__group">
            <label for="search-input" class="u-off-screen">Search</label>
            <input id="search-input" type="search" name="search" value="{{ result.query }}" class="p-form__control"/>
          </div>
          <button type="submit" alt="search" class="p-button--positive u-align--left">Search</button>
        </form>
      </div>
    </div>
  </section>

  {% for post in result.posts %}
  <div class="p-strip is-shallow is-bordered">
    <div class="row">
      <div class="col-8">
        <h2 class="p-heading--three"><a href="{{ post.relative_link }}">{{ post.title.rendered | safe }}</a></h2>
        <p>By <a href="{{ post.author.relative_link }}" title="More about {{ post.author.name }}">{{ post.author.name }}</a>, {{ post.formatted_date }}</p>
        <p class="u-no-padding--bottom">{{ post.excerpt.rendered | safe }}</p>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
