{% extends "layout.html" %}
{% block body %}
  <div class="p-strip--light is-shallow">
    <div class="row">
      <div class="col-8">
        <h1 class="u-no-margin--bottom">{{ tag.name }}</h1>
      </div>
    </div>
  </div>
  {% for post in posts %}
    <div class="p-strip is-shallow is-bordered">
      <div class="row">
        <div class="col-8">
          <h2 class="p-heading--three"><a href="{{ post.relative_link }}">{{ post.title.rendered | safe }}</a></h2>
          <p class="u-no-padding--bottom">{{ post.excerpt.rendered | safe }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
